<!DOCTYPE html>
<html>
<body>

<h2>Express node js Forms</h2>

<form action="/user/add" method="POST">
  <input type="text"  name="name" value="" placeholder="enter your name"><br> 
  <input type="text"  name="email" value=" " placeholder="enter your email">
  <button type="button">submit</button>
  
</form>

</body>
</html>

